
<footer>
    <p>
        Created with <i class="fa fa-heart"></i> by
        <a target="_self" href="#">Sharma Prashant</a>
        - Read how I created this and how you can join the challenge
        <a href="#">here</a>.
    </p>
</footer>

<!-- Optional JavaScript -->
<script>
    var pass = document.getElementById("password");
    var cpass = documnet.getElementById("cpassword");
    var username = document.getElementById("uname");
    if (username.value == null) {
        username.serCustomValidity("fill username")
    }
    function validatePassword() {
        if (pass.value != cpass.value) {
            cpass.setCustomValidity("error! confirm password didint match");
        }
        else {
            cpass.setCustomValidity('');
        }
        pass.onchange = validatePassword;
        cpass.onkeyup = validatePassword;
    }
</script>
<!--Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
</body>
</html>