{% extends 'base.html' %}
{% block content %}

<div class="container13">
    <h2>forgot password</h2>
    <p style="color:white "> Fill following details to reset password!</p>
    <form action="forgot_password.html" method="post">
        {% csrf_token %}
        <div class="row col-12 justify-content-center">
            <div class="form-outline col-8 mb-4 ">
                <label class="form-label" for="form3Example3">Username</label>
                <input type="text" id="form3Example3" class="form-control" name="username" placeholder="email" />
            </div>

        </div>
        <div class="row col-12 justify-content-center">
            <div class="form-group mt-6 col-8">
            <button type="submit" class="btn btn-primary col-6">Login</button>
            </div>
        </div>
    </form>
</div>


{% endblock %}