{%if messages %}
{% for message in messages %}
{% if message.tags == 'error' %}
<div class=" alert alert-danger alert-dismissible fade show " style="margin-left:40px;margin-right: 40px;" role="alert">
    <strong>{{ message }}</strong>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
{% endif %}
{% endfor%}
{% endif %}

{%if messages %}
{% for message in messages %}
{% if message.tags == 'success' %}
<div class="alert alert-success alert-dismissible fade show" role="alert"  style="margin-left:40px;margin-right: 40px;">
    <strong>{{ message }}</strong>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
{% endif %}
{% endfor%}
{% endif %}
<!-- {% comment %} for warning of email and username {% endcomment %} -->


{%if messages %}
{% for message in messages %}
{% if message.tags == 'warning' %}
<div class="alert alert-warning alert-dismissible fade show" style="width:700px;"  style="margin-left:40px;margin-right: 40px;" role="alert">
    <strong>{{ message }}</strong>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
{% endif %}
{% endfor%}
{% endif %}